
<div class="container-md">
  <h1 class="mt-5">Lista de Productos</h1>
  <a class="btn btn-primary mb-4 mt-3" href="/" role="button">Agregar un producto</a>
  <div class="row row-cols-1 row-cols-md-3 g-2 mt-3">
    {{#if listExists}}
      {{#each products}}
      <div class="container">
        <div class="card mb-3">
          <img src="{{this.thumbnail}}"
          class="card-img-top w-25 mx-auto my-3 mx-3"
          alt="{{this.title}}"/>
          <div class="card-body">
            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">{{this.title}}</h5>
              <h5 class="text-dark mb-0">${{this.price}}</h5>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    {{else}}
      <h2>No Hay productos</h2>
    {{/if}}
  </div>
</div>


